body {
    width: 1400px;
    height: 3843px;
}

.navig-list {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    

}


.navright {
    margin-right: 145px;
}

.logo {
    float:left;
    position: absolute;
    left: 3.7cm;
}

.nav-item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
}


.btn-sign-in {
    width:102px;
    height: 46px;
    background-color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
    color: black;

}

.btn-orange {
    background-color:#FF9900 ;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 110px;
    height: 46px;
    border-radius: 5px;
}

.page-1-content  {
display: flex;
justify-content: center;

}
.head-text-p1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    max-width: 518px;

}

.main-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}   

.main-content-p1 {
    max-width: 458px;
}


.btn-get-started {
    width: 175px;
    height: 53px;

}
.btn-video {
    width: 161px;
    height: 23px;
    left: 335px;
    top: 520px;
    background: none;
    border: none;
    color: #FF9900;
    margin-top: 45px
}

.btn-video-color {
    color:#FF9900;
}


.page-2-content {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    margin-top: 94px;
    margin-left: 144px;

}


.head-text-p2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    max-width: 539px;
    margin-bottom: 54px;
    


}
.icons {
    display: flex;
    flex-direction: row;
}

.page-3-content {
    display: flex   ;
    margin-top: 211px;
    margin-left: 144px;
}

.head-text-p3 { 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.p3-titles {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

.btn-sign-up-now {
    width:175px ;
    height: 53px;
    margin-top: 34px;
}

.text-page-3 {
    display: flex;
    flex-direction: column;
    max-width: 486px;
}


.page-4-content {
    display: flex;
    margin-left: 144px;
    margin-top: 100px;
}

.checkmarks {
    display: flex;
}

.p4-main-text {
    max-width: 486px;
    margin-left: 100px;
}
.page-5-content {
    display: flex;
    margin-top: 104px;
    margin-left: 144px;
}

.checkmarks {
    display: flex;
    flex-direction: column;
}

.page-5-text {
    max-width:486px ;
}

.head-text-p5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;

}



.footer {
    margin-top:249px ;
    margin-left: 144px;
    border-top: solid 1px rgba(151, 151, 151, 0.5);
}

.logof {
    margin-top: 100px;
}

.footer-text {
    display: flex;
    justify-content: center;
}

.nav-1-footer {
    display: flex;
    flex-direction: column;
    margin-left: 126px;
    gap: 10px;
    
}

.nav-2-footer {
    display: flex;
    flex-direction: column;
    margin-left: 129px;
    gap: 10px;
}

.form-btn {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 325px;
    height: 48px;
    margin-left: 82px;
    margin-bottom: 89px;
    gap: 21px;

}


.input-box {
    height: 48px;
    width:325px ;
}

.btn-footer {
    width: 131px;
    height: 39px;
    background-color:#FF9900 ;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
}


.checkmark1 {
    display: flex;
}

.checkmarkone {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;

}